body {
    width: 100%;
    height: 100vh;
}

#mockUI {
    width: 50%;
    position: relative;
    left: 0;
}

#mockUI a {
    width: 100%;
    text-align: center;
    top: 50%;

}

#stlViewer {
    position: relative;
    width: 1280px;
    height: 720px;
    right: 0;
    background-color: black;
}